* {
    margin-top: 1px;
    font-family: 'Assistant', sans-serif;
  }

  text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .chart .comparison {
    font-size: small;
    background: #eee;
    padding: 5px 0px .5px 10px;
    margin-right: 10px;
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
  }

  text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  
  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
  }


  hr {
    margin: 60px 0;
  }


  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    column-gap: 40px;
    margin: 20px 0px;
  }
  
  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
  }

  .float-left {
    float: left;
    width: 50%;
  }

  #month text {
    font-size: 14px;
    text-transform: capitalize;
  }

  #month .label text {
    font-size: 36px;
  }

  #month line {
    stroke:gray;
    stroke-width: .1em;
    stroke-dasharray: 2;
  }
  
  #month line .domain {
    display: none;
  }

  #month .y-axis path.domain {
    display:none;
  }


  #month .race { cursor: default; }
    
  #month .race path {
      stroke-width: 1.5;
      opacity: 0.75;
    }


  #month .highlight path {
    stroke: steelblue;
    opacity: 1;
  }

  #month .highlight text { 
    fill: steelblue; 
    }

    #month .highlight circle { 
      fill: steelblue; 
      }
  
 /* #month circle{
    fill: steelblue;
  } */

  #offense_bar text {
    font-size: 16px;
}

  #offense_bar .label text {  /*this is not working */
    font-size: 36px;
  } 

  #offense_bar .x-axis path.domain{
    display: none;
  }

  #offense_bar .y-axis path.domain{
    display: none;
  }

  #offense_bar .tooltip {
    border-radius: 8px;
    position: absolute;
    min-width: 80px;
    height: auto;
    background: white;
    color: black;
    font-size: 12px;
    border: 1px solid blue;
    padding: 14px;
    visibility: hidden;
    text-align: left;
  }

  #weapon_race path.highlight {
    filter: drop-shadow(7px 11px 12px rgb(0 0 0 / 0.4))
  }

  #state .y-axis path.domain{
    display:none
  }

  #state text{
    font-size: 12px;
  }

  #state .x-text text{
    font-size: 20px;
  }

  #state .tooltip {
    border-radius: 8px;
    position: absolute;
    min-width: 80px;
    height: auto;
/*    background: none repeat scroll 0 0 #f8f4f4; */
    background: white;
    color: black;
    font-size: 12px;
    border: 1px solid blue;
    padding: 14px;
    visibility: hidden;
    text-align: left;
  }



/*

filter 

*/

/* on mouseover, line 355 and 356 */