* {
    font-family: 'Assistant', sans-serif;
  }

  text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .chart p {
    background: #eee;
    padding: 5px 0px 5px 10px;
    margin-right: 10px;
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
  }

  text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  
  h1 {
    text-align: center;
  }


  hr {
    margin: 60px 0;
  }


  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    column-gap: 40px;
    margin: 20px 0px;
  }
  
  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
  }

  .float-left {
    float: left;
    width: 50%;
  }
  
  #month text {
    font-size: 14px;
    text-transform: capitalize;
  }

  #month .label text {
    font-size: 36px;
  }

  #month line {
    stroke:gray;
    stroke-width: .1em;
    stroke-dasharray: 2;
  }
  
  #month line .domain {
    display: none;
  }

  #month .y-axis path.domain {
    display:none;
  }


  #month .race { cursor: default; }
    
  #month .race path {
      stroke-width: 1.5;
      opacity: 0.75;
    }


  #month .highlight path {
    stroke: steelblue;
    opacity: 1;
  }

  #month .highlight text { 
    fill: steelblue; 
    }

#offense_bar text {
    font-size: 16px;
}

  #offense_bar .label text {  /*this is not working */
    font-size: 36px;
  } 